<div class="card">
    <div class="card-quantity" *ngIf="book.quantity != null">
        <h4 class="card-quantity-bubble">{{book.quantity}}</h4>
    </div>
    <img class="card-image" src={{book.img}} alt="image">
    <div class="card-description">
        <h3><b>{{book.title}}</b></h3>
        <p>{{book.price}}€</p>
    </div>
</div>