.card {
    width: 242px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.7);
}

.card-description {
    color: black;
    margin: 10%;
}
.card-image{
    width:100%;
    height: 351.65px;
}
.card-quantity{
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    background-color: #e0e0eb;
    position: absolute;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}
.card-quantity>h4{
    color: #666699;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}