<div class="container">
                <div *ngFor="let book of books">
                    <a (click)="addBook(book)">
                        <app-book-card [book]="book" [isBooklist]=true></app-book-card>
                    </a>                 
                </div>
</div>