<div>
    <div *ngIf="basket.booklist.length == 0; then emptybasket; else fullbasket">
    </div>
</div>

<ng-template #fullbasket>
    <div>
        <h2>Here's your shopping cart</h2>
    </div>
    <div class="container">
                    <div *ngFor="let book of basket.booklist">
                        <a (click)="removeBook(book)">
                            <app-book-card [book]="book"></app-book-card>
                        </a> 
                    </div>
    </div>
</ng-template>
<ng-template #emptybasket>
    <div>
        <h2>Oh no ! Your basket is empty !</h2>
    </div>
</ng-template>
