<!doctype html>
<html>

<head>
  <title>{{title}}</title>
</head>

<body>
  <div class="title">
    <h1>HP Bookstore</h1>
  </div>
  <div>
    <app-book-list (newBookAdded)="addBook($event)"></app-book-list>
  </div>
  <div>
    <app-basket [basket]="basket" (newBookRemoved)="removeBook($event)"></app-basket>
  </div>

</body>

</html>